<div class="sidebar">

    <div class="sidebar-categories">

        <div class="sidebar-category">
            <i class="material-icons">home</i>
            <a href="{% url 'index' %}"><span>Home🏠</span></a>
        </div>

        <div class="sidebar-category">
            <i class="material-icons">local_fire_department</i>
            <a href="{% url 'trend' %}"><span>Trending🔥</span></a>
        </div>
        
        <div class="sidebar-category">
            <i class="material-icons">subscriptions</i>
            <span>Subscriptions</span>
        </div>

        <hr>

        <div class="sidebar-category">
            <i class="material-icons">library_add_check</i>
            <a href="{% url 'save-video'  %}"><span>Library📚</span></a>
        </div>

        <div class="sidebar-category">
            <i class="material-icons">play_arrow</i>
            <a href="{% url 'studio' %}"><span>Your Video</span></a>
        </div>

        <div class="sidebar-category">
            <i class="material-icons">watch_later</i>
            <span>History</span>
        </div>

        <div class="sidebar-category">
            <i class="material-icons">thumb_up</i>
            <a href="{% url 'like-video'  %}"><span>Liked Video👍</span></a>
        </div>
        <hr>
        
    </div>

   
    <div class="sidebar-categories">
        
        {% if not request.user.is_authenticated %}
        <!-- Single Category -->
        <a href="{% url 'sign-in' %}">
            <div class="sidebar-category">
                <i class="material-icons">login</i>
                <span>Login</span>
            </div>
        </a>
        {% else %}
        <!-- Single Category -->
        <a href="{% url 'sign-out' %}">
            <div class="sidebar-category">
                <i class="material-icons">logout</i>
                <span>Logout</span>
            </div>
        </a>
        {% endif %}
        
    </div>
    <hr>

</div>
