/* Channel Community Page */
.content-border{
  margin-left: 40px;
  margin-top: 50px;  
  border: solid 1px rgba(92, 92, 92, 0.185);
  padding: 20px;
  border-radius: 10px;
}

.header-comm{
  justify-content: space-between;
  display: flex;
}
.channel-details{
  display: flex;
  align-items: center;
}
.channel-details img{
  width: 50px;
  border-radius: 50px;
  object-fit: cover;
  height: 50px;
}

.channel-details h5{
  font-size: 15px;
  margin-left: 10px;
}

.channel-details span{
  margin-left: 10px;
}

.content h3{
  font-size: 15px;
  width: 500px;
  text-align: justify;
  font-weight: 400;
  margin-top: 20px;
}
.content img{
  width: auto;
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
}

.icon-section{
  display: flex;
  align-items: center;
}

.single-icon{
  align-items: center;
  padding: 10px;
  padding-left: 20px;
}
.material-symbols-outlined{
  transition: 0.5s;
  color: black;
  /* font-size: 20px; */
}
.material-symbols-outlined:hover{
  font-size: 25px;
}









/* Community Details Comment Section */

.comment-wrap{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}
.create-comment{
  display: flex;
  margin-bottom: 40px;
  margin-top: 10px;
}

.create-comment-img img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
}

.create-comment-input input{
  width: 400px;
  height: 50px;
  object-fit: cover;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.363);
  background: none;
  
}

.create-comment-input input::placeholder{
  padding-left: 20px;  
}

.create-comment-input input:hover{
  background-color: rgba(75, 75, 75, 0.027);
}


.comments{
  display: flex;
}
.comment-img img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
}

.comment-content{
  margin-left: 20px;
}

.comment-header {
  display: flex;
  margin-bottom: 7px;
}

.comment-header h4{
  font-weight: 600;
  font-size: 15px;
}

.comment-header p{
  margin-left: 10px;
  font-weight: 300;
}

.comment-content p{
  font-size: 14px;
}

.comment-icons{
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.comment-icon-single{
  padding-left: 10px;
}

.delete-comment i{
  color: red;
}


/* About page */
.about-div{
  padding: 30px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
.about-left{
  width: 50%;
}

.about-left h3{
  margin-bottom: 10px;
  font-weight: 400;
}

.about-left h4{
  margin-bottom: 10px;
  font-weight: 300;
}

.about-left .about-details{
  margin-top: 10px;
}

.about-left .about-details h4{
  margin-top: 30px;
  font-weight: 500;
}

.about-left .about-details .about-biz{
  /* margin-top: 10px; */
  display: flex;
}
.about-biz h3{
  font-size: 15px;
}

.about-biz .left-h4{
  padding-left: 45px;
  font-size: 15px;
}
.links{
  margin-top: 20px;
}

.links h4{
  font-weight: 400;
}

.links-content{
  padding-top: 10px;
}


.about-right{
  float: left;
  margin-right: 10px;
}

.about-right h4{
  font-weight: bolder;
}

.about-right h4, h5{
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 15px;
  font-weight: normal;
}


@media screen and (min-width:220px) and (max-width:689px){

  /* Channel Community Page */
  .content-border{
    margin-left: 7px;
    margin-top: 50px;  
    border: solid 1px rgba(92, 92, 92, 0.185);
    padding: 20px;
    width: 390px;
    border-radius: 10px;
  }


  .content h3{
    font-size: 15px;
    width: 350px;
    text-align: justify;
    font-weight: 400;
    margin-top: 20px;
  }
  .content img{
    width: 350px;
    height: 290px;
    object-fit: cover;
    border: 1px solid rgba(128, 128, 128, 0.089);
    margin-top: 20px;
  }

  .icon-section{
    display: flex;
    align-items: center;
  }

  .single-icon{
    align-items: center;
    padding: 10px;
    padding-left: 20px;
  }
  .material-symbols-outlined{
    transition: 0.5s;
    color: black;
    /* font-size: 20px; */
  }
  .material-symbols-outlined:hover{
    font-size: 25px;
  }

  .create-comment-input input{
    width: 300px;
    height: 50px;
    object-fit: cover;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.363);
    background: none;
    
  }

  .channel-art img{
    width: 700px;
    height: 200px;
    margin-bottom: 20px;
  }

  .channel-header-links .dont-display-this{
    display: none;
  }
  .channel-header{
    margin-top: 40px;
  }

  .channel-img-title h4{
    font-size: 17px;
  }

  .channel-img-title .channel-image-texts .sub-span{
    content: "";
  }



  .channel-intro-video{
    flex-direction: column;
  }

}

a{
  text-decoration: none;
}

