{% extends 'base.html' %}
{% load static %}

{% block style %} 
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">


<style>
    a{
        color: black;
    }
    .message-alert{
        background-color: rgb(169, 255, 166);
        padding: 14px;
        margin-bottom: 30px;
        border-radius: 10px;
        border: 1px solid rgb(13, 161, 0);
    }
</style>

{% endblock style %}

{% block content %}





        {% include 'partials/alert.html' %}

        <div class="mainBody">
            {% include 'partials/sidebar.html' %}

            <div class="videos">
                

                <div class="drop-down-container">

                    
                    {% if request.path == '/' %}
                    <h1 style="font-size: 20px;">Recommends✨</h1>
                    {% endif %}

                    {% if request.path == '/trend/' %}
                    <h1 style="font-size: 20px;">Trending🔥</h1>
                    {% endif %}


                    



                </div>

                <div class="video-container">

                    {% for v in videos %}
                    <div class="video">

                            <div class="video-thumbnail">
                                <a href="{% url 'video-detail' v.id %}">
                                    <img src="{{v.image.url}}" alt="">
                                </a>
                            </div>
                            
                            <div class="video-details">
                                <div class="author">
                                    <a href="{% url 'channel-profile' v.user.channel.id %}">
                                        <img src="{{v.user.channel.image.url}}" alt="">
                                    </a>

                                </div>

                                <div class="title">

                                    <a href="{% url 'video-detail' v.id %}">
                                        <h3>{{v.title|truncatechars:34}}</h3>
                                    </a>
                                    <a href="">
                                        <small>
                                            <a href="{% url 'channel-profile' v.user.channel.id %}">
                                                {{v.user.channel.channel_name}}
                                            </a>
                                            {% if v.user.channel.verified == True %}
                                            <i class="fas fa-check-circle"></i> 
                                            {% endif %}
                                        </small>
                                    </a>
                                    <span>{{v.views}} Views, {{v.date|timesince}} ago</span>
                                </div>
                            </div>
                    </div>

                    {% endfor %}
                    





                    <!-- Pagination          ------------------------------->
                    <div class="pagination-box p-box-2 text-center">
                        <nav aria-label="Page navigation example">
                           {% if videos.has_other_pages %}
                            <ul class="pagination">
                                {% if videos.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{videos.previous_page_number}}" class="page-link">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a href="" class="page-link"><i class="fa fa-angle-left"></i></a>
                                </li>
                                {% endif %}

                                {% for i in videos.paginator.page_range %}
                                {% if videos.number == i %}
                                    <li class="page-item">
                                        <a href="" class="page-link active">{{i}}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                                    </li>
                                {% endif %}
                                {% endfor %}

                                {% if videos.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{videos.next_page_number}}" class="page-link"><i class="fa fa fa-angle-right"></i></a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a href="" class="page-link"><i class="fa fa-angle-right"></i></a>
                                    </li>
                                {% endif %}
                            </ul>
                           {% endif %}
                        </nav>
                    </div>

                </div>

            </div>

        </div>



   
{% endblock content %}