{% extends 'base.html' %}
{% load static %}

{% block style %} 
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">


<style>
    a{
        color: black;
    }
    .message-alert{
        background-color: rgb(169, 255, 166);
        padding: 14px;
        margin-bottom: 30px;
        border-radius: 10px;
        border: 1px solid rgb(13, 161, 0);
    }
</style>

{% endblock style %}

{% block content %}





        {% include 'partials/alert.html' %}

        <div class="mainBody">
            {% include 'partials/sidebar.html' %}

            <div class="videos">
                

                <div class="drop-down-container">

                    

                    <h1 style="font-size: 20px;">Recommends</h1>

                    <!-- dropdown-content           ------------------------>
                    <div class="dropdown-content-background">
                        <div class="dropdown-contents">
                            <div class="dropdown-content">
                                <a href="{% url 'channel-profile' request.user.channel.id %}">
                                    <i class="material-icons">account_circle</i>
                                </a>
                                <a href="{% url 'channel-profile' request.user.channel.id %}"><span>Channel</span></a>
                            </div>

                            <div class="dropdown-content">
                                <i class="material-icons">settingss</i>
                                <span>Setting</span>
                            </div>

                            <div class="dropdown-content">
                                <i class="material-icons">person_add</i>
                                <span>Switch Account</span>
                            </div>

                            
                        </div>
                    </div>




                </div>

                <div class="video-container">

                    {% for v in videos %}
                    <div class="video">

                            <div class="video-thumbnail">
                                <a href="{% url 'video-detail' v.id %}">
                                    <img src="{{v.image.url}}" alt="">
                                </a>
                            </div>
                            
                            <div class="video-details">
                                <div class="author">
                                    <a href="{% url 'channel-profile' v.user.channel.id %}">
                                        <img src="{{v.user.channel.image.url}}" alt="">
                                    </a>

                                </div>

                                <div class="title">

                                    <a href="{% url 'video-detail' v.id %}">
                                        <h3>{{v.title|truncatechars:34}}</h3>
                                    </a>
                                    <a href="">
                                        <small>
                                            <a href="{% url 'channel-profile' v.user.channel.id %}">
                                                {{v.user.channel.channel_name}}
                                            </a>
                                            {% if v.user.channel.verified == True %}
                                            <i class="fas fa-check-circle"></i> 
                                            {% endif %}
                                        </small>
                                    </a>
                                    <span>{{v.views}} Views, {{v.date|timesince}} ago</span>
                                </div>
                            </div>
                    </div>

                    {% endfor %}
                    

                </div>

            </div>

        </div>



   
{% endblock content %}