{% extends 'base.html' %}
{% load static %}

{% block style %} 
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/channel-community.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/channel.css' %}" type="text/css">



<style>
.content a{
    color: black;
    text-decoration: none;
}
/* Style The Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


</style>

{% endblock style %}

{% block content %}
    
    <div class="mainBody">
        
        {% include 'partials/sidebar.html' %}

        <div class="videos">
            {% include 'channel/partials/channel-header.html' %}
            
            <div class="video-container">
            <!-- Single Video Starts Here -->

                {% for c in community %}
                <div class="content-border">
                    <div class="content-div">
                        <div class="header-comm">
                            <div class="channel-details">
                                {% if c.channel.image %}
                                <img src="{{c.channel.image.url}}" class="channel-img-com" alt="">
                                {% else %}
                                <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg" class="channel-img-com" alt="">
                                {% endif %}
                                <h5>{{c.channel.channel_name}}</h5>
                                <span>{{c.date|timesince}} ago</span>
                            </div>
                            <!-- <div class="elipse-icon">
                                <i class="material-symbols-outlined">sort</i>
                            </div> -->



                            
                            {% if c.channel.user == request.user %}
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <i class="material-symbols-outlined">sort</i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="{% url 'edit-post'  c.channel.id c.id %}"> <i class="material-symbols-outlined">edit</i> &nbsp; Edit</a>
                                    <a href="{% url 'delete-post' c.channel.id c.id %}"> <i class="material-symbols-outlined">delete</i> &nbsp; Delete</a>
                                    <a href="#"> <i class="material-symbols-outlined">share</i> &nbsp; Share</a>
                                </div>
                              </div>
                            {% endif %}


                            


                        </div>
                        <div class="content">
                            <a href="{% url 'channel-community-detail' c.channel.id c.id %}"><h3>{{ c.content|truncatechars:200 }}</h3></a>
                            
                            {% if c.image %}
                            <a href="{% url 'channel-community-detail' c.channel.id c.id %}">
                                <img src={{c.image.url}} alt="">
                            </a>
                            {% endif %}


                        </div>
                        <div class="icon-section">
                            <div class="single-icon">
                                <a href="{% url 'com_add_like' c.id %}"><i class="material-icons material-symbols-outlined">thumb_up</i></a>
                                <span>{{c.likes.all.count}}</span>
                            </div>
    
                            <div class="single-icon">
                                <a href="{% url 'com_add_like' c.id %}"><i class="material-icons material-symbols-outlined">thumb_down</i></a>
                            </div>

                            <div class="single-icon">
                                <i class="material-icons material-symbols-outlined">share</i>
                            </div>

                            <div class="single-icon">
                                <a href=""><i class="material-icons material-symbols-outlined">chat</i></a>
                                <span>{{c.comments.all.count}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>

        </div>

    </div>

   

    
{% endblock content %}

