{% extends 'base.html' %}
{% load static %}


{% block style %} 
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/channel-community.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/channel.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/channel-upload.css' %}" type="text/css">
{% endblock style %}






{% block content %}

<div class="mainBody">
    {% include 'partials/sidebar.html' %}
    <div class="videos">
        <div>
        </div>




        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="upload-content">
                <div class="left-video">
                    <h4>Channel Edit</h4>
                    <div class="error">
                        <strong>{{ form.errors }}</strong>
                    </div>


                    <div class="video-div file-input" id="file-input">
                        <small>Channel_art (required) </small> <br>
                        {{form.channel_art}}
                        <!-- <input type="file" class="file"> -->
                        <!-- <input type='file'> -->
                        <span class='button'><i class="material-icons">image</i></span>
                        <span class='label' data-js-label>No image selected</label> <br>
                        <img src="{{ channel.channel_art.url }}" style="width: 100%;" alt="">
                        
                    </div>
                    <br>

                    <div class="video-div file-input" id="file-input">
                        <small>Image (required) </small> <br>
                        {{form.image}}
                        <!-- <input type="file" class="file"> -->
                        <!-- <input type='file'> -->
                        <span class='button'><i class="material-icons">image</i></span>
                        <span class='label' data-js-label>No image selected</label> <br>
                        <img src="{{ channel.image.url }}" style="width: 100%;" alt="">
                        
                    </div>

                    
                    <div class="desc-div">
                        <span>Full_name (required) <span id="desc-count"></span> </span> <br>
                        <!-- <textarea name="" id="description" onkeyup="desc_validate()"></textarea> -->
                        {{form.full_name}}
                    </div>

                    <div class="desc-div">
                        <span>Channel_name (required) <span id="desc-count"></span> </span> <br>
                        <!-- <textarea name="" id="description" onkeyup="desc_validate()"></textarea> -->
                        {{form.channel_name}}
                    </div>

                    <div class="desc-div">
                        <span>Description (required) <span id="desc-count"></span> </span> <br>
                        <!-- <textarea name="" id="description" onkeyup="desc_validate()"></textarea> -->
                        {{form.description}}
                    </div>

                    <div class="desc-div">
                        <span>Business_email (required) <span id="desc-count"></span> </span> <br>
                        <!-- <textarea name="" id="description" onkeyup="desc_validate()"></textarea> -->
                        {{form.business_email}}
                    </div>

                    <div class="desc-div">
                        <span>Make_business_email_public (required) <span id="desc-count"></span> </span> <br>
                        <!-- <textarea name="" id="description" onkeyup="desc_validate()"></textarea> -->
                        {{form.make_business_email_public}}
                    </div>

                    <div class="desc-div">
                        <span>Business_location (required) <span id="desc-count"></span> </span> <br>
                        <!-- <textarea name="" id="description" onkeyup="desc_validate()"></textarea> -->
                        {{form.business_location}}
                    </div>

                    <div class="desc-div">
                        <span>Make_business_lcation_public (required) <span id="desc-count"></span> </span> <br>
                        <!-- <textarea name="" id="description" onkeyup="desc_validate()"></textarea> -->
                        {{form.make_business_location_public}}
                    </div>

                    <div class="desc-div">
                        <span>Website (required) <span id="desc-count"></span> </span> <br>
                        <!-- <textarea name="" id="description" onkeyup="desc_validate()"></textarea> -->
                        {{form.website}}
                    </div>

                    <div class="desc-div">
                        <span>Instagram (required) <span id="desc-count"></span> </span> <br>
                        <!-- <textarea name="" id="description" onkeyup="desc_validate()"></textarea> -->
                        {{form.instagram}}
                    </div>


                    <div class="desc-div">
                        <span>Facebook (required) <span id="desc-count"></span> </span> <br>
                        <!-- <textarea name="" id="description" onkeyup="desc_validate()"></textarea> -->
                        {{form.facebook}}
                    </div>



                    <div class="desc-div">
                        <span>Twitter (required) <span id="desc-count"></span> </span> <br>
                        <!-- <textarea name="" id="description" onkeyup="desc_validate()"></textarea> -->
                        {{form.twitter}}
                    </div>



                    <div class="tags-div">
                        <span>Keyword (optional) </span> <br>
                        <!-- <input type="text" > -->
                        {{form.keyword}}
                        <p>Seperate Keywords with Comma</p>
                    </div>


                    
             
                    

                    <div class="upload-btn-div">
                        <button type="submit" class="upload-btn">Publish</button>
                    </div>
                </div>
                
            </div>
        </form>




        
        
    </div>
</div>

{% endblock content %}